.TOOLTIP {
	position: fixed;
	width: 5px;
	height: 5px;
	z-index: 200;
}
.TOOLTIP_KONTEN {
	position: absolute;
	border-bottom: 2px #08F solid;
	padding: 2px;
	background: rgba(255,255,255,.5);
	color: #333;
	box-shadow: 0 0 1px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	overflow-x: hidden;
}